<a href="https://colab.research.google.com/github/Melquicedec-Aguilar/Tratamiento-de-datos-con-python/blob/main/01Elementos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tratamiento de Datos con Python**

[*FES Aragón*](https://www.aragon.unam.mx/fes-aragon/#!/inicio)

# Curso
## ICO
### Tratamiento de datos

In [1]:
# Serie de Fibonacci
a = 0
print(a)
b = 1
print(b)

for i in range(12):
  r = a+b
  a = b
  b = r
  print(r)

0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [ ]:
palabra = "Datos"
for i in palabra:
  print(i)
  if i == "t":
    break

In [ ]:
#Ciclos anidados
for i in range(1,11):
  print(f'Tabla del {i}:')
  for j in range(1,11):
    r = i * j
    print(f'{i} * {j} = {r}')

In [ ]:
Vocales = 'aeiou'
frase = 'SupercAlifragilisticoespialidoso'

no_vocales = 0
for letra in frase.lower():
  if letra in Vocales:
    no_vocales += 1
print(no_vocales)

15

In [ ]:
#Listas

compra = ['Agua', 'Huevos', 'Aceite', 'Sal', 'Limon']
detalle =['mineral natural', 'organicos', 'de oliva virgen', 'de mar', 'verde']

for productos in compra:
  print(productos)

#Enumerad
for i, producto in enumerate(compra):
  print(i, producto)

#zip
for producto, detail in zip(compra, detalle):
  print(producto, detalle)
print(list(zip(compra, detalle)))

In [ ]:
valores = '32,45,11,87,20,48'
lista_valores = []

for valor in valores.split(','):
  lista_valores.append(int(valor))
print(lista_valores)

In [ ]:
lista_enteros = [int(valor) for valor in valores.split(',')]
print(lista_enteros)

In [ ]:
lista = ['pan', 'jamon', 100, 123.45]
print(lista)
print(lista[0])
print(lista[-1])
print(lista[-3])
lista.append('jugo')
print(lista)
lista.count(100)

In [ ]:
lista.extend([40,'cebolla',10])
print(lista)
lista.append(['tocino', 90])
print(lista)
lista.extend(range(500,505))
print(lista)

In [ ]:
lista.index(500)

In [ ]:
lista.insert(3,'mostaza')
lista

In [ ]:
lista[0] = 'pan integral'
lista

In [ ]:
lista[4:10]

In [ ]:
lista[:]

In [ ]:
lista[::-1]

In [ ]:
#Crear un alias de lista
lista2 = lista
print(lista)
print(lista2)

In [ ]:
lista[1] = 'tocino'
print(lista)
print(lista2)

In [ ]:
lista2[3] = 'mayonesa'
print(lista)
print(lista2)

In [ ]:
#Crear una copia
lista3 = lista[:]
print(lista)
print(lista3)

In [ ]:
lista[5] = 'agua'
print(lista)
print(lista2)
print(lista3)

In [ ]:
lista4 = lista + lista3
lista4

In [ ]:
#Quitar valores a una lista
#Pop muestra el ultimo elemento de la lista y lo elimina
lista4.pop()

In [ ]:
#borrar un elemento específico de la lista
lista4.pop(1)

In [ ]:
#remueve el primer elemento del valor asignado 
lista.remove(100)

In [ ]:
for n in range(4,9):
  lista4.pop(4)

lista4

In [ ]:
lista4

In [11]:
lista_cursos = ['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']
lista_cursos

['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']

In [14]:
#Crea una lista de valores unicos (set)
set_cursos = set(lista_cursos)
set_cursos

{'Base de datos', 'Big Data', 'Ciencia de datos', 'Python'}

In [13]:
set_cursos2 = set(['Python', 'Pandas', 'Mineria', 'Base de datos'])
set_cursos2

{'Base de datos', 'Mineria', 'Pandas', 'Python'}

In [15]:
#Union
print(set_cursos.union(set_cursos2))
print(set_cursos | set_cursos2)

{'Base de datos', 'Pandas', 'Mineria', 'Big Data', 'Ciencia de datos', 'Python'}
{'Base de datos', 'Pandas', 'Mineria', 'Big Data', 'Ciencia de datos', 'Python'}

In [16]:
#Es el join es decir la intersecion de los dos conjuntos
print(set_cursos.intersection(set_cursos2))
print(set_cursos & set_cursos2)

{'Base de datos', 'Python'}
{'Base de datos', 'Python'}

In [17]:
#Outer Join
print(set_cursos.difference(set_cursos2))
print(set_cursos - set_cursos2)

{'Ciencia de datos', 'Big Data'}
{'Ciencia de datos', 'Big Data'}

In [ ]:
diccionario = {'nombre' : 'Juan', 'edad' : 22, 'cursos' : ['Python', 'Ciencia de datos', 'Big Data']}
diccionario

{'cursos': ['Python', 'Ciencia de datos', 'Big Data'],
 'edad': 22,
 'nombre': 'Juan'}

In [ ]:
diccionario['cursos']

['Python', 'Ciencia de datos', 'Big Data']

In [ ]:
for c in diccionario['cursos']:
  print(c)

Python
Ciencia de datos
Big Data

In [ ]:
#llaves de diccionario
for k in diccionario.keys():
  print(k)

nombre
edad
cursos

In [ ]:
#valores de diccionario
for v in diccionario.values():
  print(v)

Juan
22
['Python', 'Ciencia de datos', 'Big Data']

In [ ]:
#Items de diccionario
for i in diccionario.items():
  print(i)

('nombre', 'Juan')
('edad', 22)
('cursos', ['Python', 'Ciencia de datos', 'Big Data'])

In [ ]:
datos = ('Tokyo:38140000;Delhi:26454000;Shanghai:24484000;'
          'Mumbai:21357000;Sao Paulo:21297000;CDMX:24800000')
datos

'Tokyo:38140000;Delhi:26454000;Shanghai:24484000;Mumbai:21357000;Sao Paulo:21297000;CDMX:24800000'

In [ ]:
ciudades = {}
for r in datos.split(';'):
  ciudad, poblacion = r.split(':')
  ciudades[ciudad] = int(poblacion)

ciudades

{'CDMX': 24800000,
 'Delhi': 26454000,
 'Mumbai': 21357000,
 'Sao Paulo': 21297000,
 'Shanghai': 24484000,
 'Tokyo': 38140000}